<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
        <meta name="description" content="Ecommerce">
        <title>{% block title %}Ecommerce{% endblock %}</title>
        <link rel="stylesheet" href="{{asset("assets/css/base.css")}}">
        {% block script %}{% endblock %}
        <script src="{{asset("assets/js/base.js")}}" defer></script>
        {% block css %}{% endblock %}
    </head>
    <body>
    {% if block('noNav') is defined %} 
    {# On affiche rien si noNav existe #}
    {% else %}
        
    
        <div id="nav">
            <div class="title">
                <a href="{{path('app_home')}}"><h5>ECOMMERCE</h5></a>
            </div>
            <div class="search">
                 {% block search %}{% endblock %}
            </div>
            <div class="connect">
            {% if not is_granted("IS_AUTHENTICATED_FULLY")  %}
                <a href="{{path("app_login")}}">Connexion</a>
                |<a href="{{path("app_registration")}}">Inscription</a>
                {% else %}
                <a href="{{path('app_account')}}">Mon compte</a>
                |<a href="{{path("app_logout")}}">Déconnexion</a>
                {% endif %}
                <a href="{{path('app_cart')}}" class='caddie'><img src="{{asset("assets/icons/caddie.png")}}" alt="panier"></a>
            </div>
        </div>
        <div class="modal"></div>
        <div class="burger" onclick="burgerAnimated(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div class="categorie mobile">
            <ul>
                <li><a href="{{path('app_home')}}">Tous nos produits</a></li>
                <li><a href="{{path('app_home',{'cat':'clothe'})}}">Vêtements</a></li>
                <li><a href="{{path('app_home',{'cat':'tec'})}}">Technologie</a></li>
                <li><a href="{{path('app_home',{'cat':'accessory'})}}">Accesoires</a></li>
                <li><a href="{{path('app_home',{'cat':'other'})}}">Autres</a></li>
            </ul>
        </div>
        {% endif %}
        <div class="mode">
            <label class="switch">
                <input type="checkbox" onclick="darkMode()" class="checkDark">
                <span class="slider"></span>
            </label>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>
