{% extends 'base.html.twig' %}
{% block title %}
    Mes addresses
{% endblock %}
{% block search %}
    {{form(form)}}
{% endblock %}
{% block content %}
<div class="address">
    <a href="{{path("app_address_add")}}" class="btn btn-address">Ajouter une adresse</a>
<h1>Mes adresses</h1>
C'est dans cet espace que vous allez pouvoir gérer vos adresses
<a href="{{path('app_account')}}" class="a">Retour</a><br>
<hr>
{% if app.user.addresses|length == 0 %}
    <p class="text-center">Vous n'avez pas encore ajouter d'addresse dans votre compte client. Pour en ajouter une <a href="{{path("app_address_add")}}" class="a">cliquer ici</a></p> 
{% else %}
    <div class="allAddress">
        {% for address in app.user.addresses %}
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">{{address.name}}</h5>
                    <p class="card-text">
                        {{address.address}} <br>
                        {{address.postal}}-{{address.city}}-{{address.country}}
                    </p>
                    <a href="{{path('app_address_edit',{'id':address.id})}}" class="a">Modifier</a> | <a href="{{path('app_address_delete',{'id':address.id})}}" class="a">Supprimer</a>
                    </div>                
            </div>
        {% endfor %}
    </div>
{% endif %}
</div>
{% endblock %}